{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="profile-container">
        <!-- Display username (user cannot update that field) -->
        <h3>{{ user.username }}'s Profile</h3>
    
        <!-- Display Profile Picture (user can update that field) -->
        {% if user.is_authenticated %}
            <div class="profile-pic-in-profile">
                <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}-profile-pic">
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
            {% csrf_token %}

            <!-- Display name (user can update that field) -->
            <div class="profile-form-fields">
             {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-dark">Update Profile</button>
        </form>
    </div>
</div>
{% endblock %}
