{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="profile-container">
        <!-- Display username (user cannot update that field) -->
        <h3>{{ user.username }}'s Profile</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
    
            <!-- Display Profile Picture (user can update that field) -->
            {% if user.is_authenticated %}
            <div class="profile-pic-in-profile" style="background-image: {% if user.userprofile.image %}url({{ user.userprofile.image.url }}){% else %}url({% static 'images/default_profile_pic.png' %}){% endif %}"></div>
            {% endif %}
    
            <!-- Display name (user can update that field) -->
            <div class="update-form-container">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="submit-btn">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
