{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="profile-header">
      <button class="profile-right">Edit Profile</button>
    </div>
    
    <div class="profile-section">
        <form method="post" action="{% url 'profile' %}">
            {% csrf_token %}
            {{ form }}

            <img id="profile-pic-big" src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'images/default_profile_pic.png' %}{% endif %}" alt="Profile Picture on profile page" />
            <h2>{{ profiles.name }} Sindri</h2>
            <h3>{{ profiles.email }} hetja36@gmail.com</h3>
        </form>
    </div>

{% endblock %}
