{% extends "base.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data" action="{% url 'property-create' %}" class="p-4" id="create-property-container">
        {% csrf_token %}
        <h2 class="fw-semibold mb-5">Create Property</h2>
        
        <!-- Main Property Fields -->
        {{ form.as_p }}

        <!-- Gallery (Property Images) -->
        <div class="gallery-upload-container mt-5">
            <h5>Property Image Gallery</h5>
            <div class="image-upload">
                <label class="file-upload-label">
                    <span>Select images (Maximum 10)</span>
                    <input type="file" name="images" multiple accept="image/*" id="image-upload">
                </label>
                <div id="image-preview" class="preview-container"></div><br>
            </div>
        </div>

        <button type="submit" class="custom-purple-button">Confirm</button>
    </form>

{% endblock %}
