{% extends "base.html" %}
{% block content %}

    <form method="post" enctype="multipart/form-data" class="p-4" id="create-property-container">
        {% csrf_token %}

{#        <div class="form-group">#}
{#            {{ form.year_built.label_tag }}#}
{#            {{ form.year_built }}#}
{#            {% if form.year_built.errors %}#}
{#                <div class="errorlist">#}
{#                    {% for error in form.year_built.errors %}#}
{#                        <span class="text-danger">{{ error }}</span>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}



    <!-- Main property fields -->
    {{ form.as_p }}

    <!-- Gallery (Property Images) -->
        <div class="gallery-upload-container mt-5">
            <h5>Property Image Gallery</h5>
            <div class="image-upload">
                <label class="file-upload-label">
                    <span>Select images (Maximum 10)</span>
                    <input type="file" name="images" multiple accept="image/*" id="image-upload">
                </label>
                <div id="image-preview" class="preview-container"></div><br>
            </div>
        </div>


        {# TODO: sorry júlia, i know this is sad, en ég hef enga huhmynd hvernig á að tengja fancy stuffið þitt #}
{#        <h2 id="create-property-title">Create Property</h2>#}
{#        <div class="add-image-container">#}
{#            <label for="avatar"><b>Choose a profile picture</b></label><br>#}
{#            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg" />#}
{#        </div>#}
{#        <hr><br>#}
{##}
{#        <div id="form-address-container-input">#}
{#            <h4>Address</h4>#}
{#            <div class="form-field">#}
{#                <label for="id_street_name">Street Name</label>#}
{#                {{ form.street_name }}#}
{#            </div>#}
{#           <div class="form-field">#}
{#                <label for="id_house_nr">House Number</label>#}
{#                {{ form.house_nr }}#}
{#            </div>#}
{#           <div class="form-field">#}
{#                <label for="id_city">City</label>#}
{#                {{ form.city }}#}
{#            </div>#}
{#           <div class="form-field">#}
{#                <label for="id_postal_code">Postal Code</label>#}
{#                {{ form.postal_code }}#}
{#            </div>#}
{#        </div>#}
{#        <br><hr><br>#}
{##}
{#        <div class="form-field">#}
{#            <label for="id_building_type">Type of Building</label>#}
{#            <select name="building_type" id="id_building_type" class="form-control">#}
{#                <option value="">Select a type</option>#}
{#                <option value="Apartment">Apartment</option>#}
{#                <option value="House">House</option>#}
{#                <option value="Villa">Villa</option>#}
{#                <option value="TownHouse">Townhouse</option>#}
{#                <option value="Area">Area</option>#}
{#            </select>#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_price">Price</label>#}
{#            {{ form.price }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_description">Description</label>#}
{#            {{ form.description }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_year_built">Built Year</label>#}
{#            {{ form.year_built }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_size">Size</label>#}
{#            {{ form.size }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_bedrooms">Bedrooms</label>#}
{#            {{ form.bedrooms }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_bathrooms">Bathrooms</label>#}
{#            {{ form.bathrooms }}#}
{#        </div>#}
{#        <div class="form-field">#}
{#            <label for="id_toilets">Toilets</label>#}
{#            {{ form.toilets }}#}
{#        </div>#}
        <button type="submit" class="btn-confirm">Confirm</button>
    </form>
{% endblock %}
