git# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.DS_Store
.idea/workspace.xml
property/__pycache__/views.cpython-312.pyc
property/__pycache__/urls.cpython-312.pyc
offer/__pycache__/views.cpython-312.pyc
/.idea/shelf/Uncommitted_changes_before_Checkout_at_5_5_2025,_23_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_5_5_2025,_23_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_09_28_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_10_54_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_5_5_2025__23_25__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_5_5_2025__23_25__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025__09_28__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025__10_54__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_5_5_2025,_23_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_5_5_2025,_23_25_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_09_28_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_10_54_[Changes]/shelved.patch
*.pyc
/.idea/castle_apartments.iml
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_12_47_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025__12_47__Changes_.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_6_5_2025,_12_47_[Changes]/shelved.patch
.idea/modules.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
