{% extends 'base.html' %}
{% load static %}
   
{% block content %}
    <div class="container my-4 p-4 border rounded shadow-sm bg-white" id="property-details-container">
    
        <!-- Gallery Slideshow of Property images -->
        {% include 'property/property_gallery.html' %}
    
        <!-- the status of the property-->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted text-capitalize">{{ property.building_type }}</span>
            <span class="text-uppercase small">{{ property.is_sold|yesno:"SOLD,THIS PROPERTY HAS NOT BEEN SOLD" }}</span>
        </div>
    
        <!-- address and price of property -->
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h2 class="mb-0">{{ property.street_name }} {{ property.house_nr }} ({{ property.city }}, {{ property.postal_code }})</h2>
            </div>
            <div>
                {% if property.seller != user.userprofile.sellerprofile %}
                <h4 class="text-primary fw-bold">${{ property.price|floatformat:"0" }}</h4>
                {% endif %}
            </div>
        </div>
    
        <!-- listing date of a property -->
        <p class="text small mt-3"><strong>Listing Date:</strong> {{ property.listing_date }}</p>
    
        <!-- description of property -->
        <div class="mt-3">
            <p class="mb-3">{{ property.description }}</p>
        </div>
    
        <!-- Seller info and SubmitOffer btn -->
        <div class="d-flex gap-3" id="seller-info-on-property-container">
            <!-- Seller info -->
            <div class="seller-profile-pic-container">
                <img id="seller-profile-pic-in-property" src="{{ property.seller.user.image.url }}" alt="seller-profile-thumbnail">
                <a href="{% url 'seller-by-property' property.id %}" class="custom-offer-button">Seller: {{ property.seller.user.name }}</a>
            </div>
        
            <!-- Submit-Btn dynamically changes depending on OfferState, User etc -->
            <div>
                {% if property.seller != user.userprofile.sellerprofile %}
                    {% if not property.is_sold %}
                            <a href="{% url 'submit-offer' property.id %}" class="custom-offer-button">Resubmit an Offer</a>
                        {% else %}
                            <a href="{% url 'submit-offer' property.id %}" class="custom-offer-button">Submit an Offer</a>
                        {% endif %}
                    {% endif %}
            </div>
        </div>

        <!-- the details of the property -->
        <div class="mt-4 row text-center">
            <div class="col">Built {{ property.year_built }}</div>
            <div class="col">{{ property.size }} m2</div>
            <div class="col">{{ property.bedrooms }} Bedroom(s)</div>
            <div class="col">{{ property.bathrooms }} Bathroom(s)</div>
            <div class="col">{{ property.toilets }} Toilet(s)</div>
        </div>


         <!-- Show Previous Offer details -->
        <div class="previous-offer-status w-50 rounded border border-dark mt-5">
            {% if user_offer %}
                <h4 class="mt-3">Previous Offer</h4>
                <div class="container m-3">
                    <p><strong>Offer Amount:</strong> ${{ user_offer.price }}</p>
                    <p><strong>Status:</strong>
                        <span class="offer-status-{{ user_offer.state|lower }}">
                            {{ user_offer.state }}
                        </span>
                    </p>
                    <p><strong>Creation Date:</strong> {{ user_offer.creation_date }}</p>
                </div>
            {% endif %}
        </div>

    </div>

{% endblock %}