{% load static %}
<div class="mb-3 card-img-top position-relative">

    <!-- Container for the image gallery -->
    <div class="container">

        <!-- Full-width images with number text -->
            <!-- preview pic -->
        <div class="mySlides">
            <div class="numbertext">1 / {{ property.gallery.count|add:1 }}</div>
            <img src="{{ property.preview_pic.url }}" class="gallery-property-image" alt="Property Preview">
        </div>
            <!-- rest of images (the gallery) -->
        {% for image in property.gallery.all %}
            <div class="mySlides">
            <div class="numbertext">{{ forloop.counter|add:1 }} / {{ property.gallery.count|add:1 }}</div>
                <img src="{{ image.image.url }}" class="gallery-property-image" alt="{{ image.image.url }}">
            </div>
        {% endfor %}

        <!-- Next and previous buttons -->
        {% if property.gallery.count > 0 %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <!-- Thumbnail images (on the bottom) -->
            <div class="row">
                <div class="column">
                    <img class="demo cursor gallery-property-thumbnail" src="{{ property.preview_pic.url }}"
                        onclick="currentSlide(1)"
                        alt="Thumbnail for property preview">
                </div>
                {% for image in property.gallery.all %}
                <div class="column">
                    <img class="demo cursor gallery-property-thumbnail" src="{{ image.image.url }}"
                        onclick="currentSlide({{ forloop.counter|add:1 }})"
                        alt="Image {{ forloop.counter }}">
                </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/property_gallery.js' %}"></script>
