{% extends 'base.html' %}
{% load static %}
   
{% block content %}
    <div class="container my-4 p-4 border rounded shadow-sm bg-white" id="property-details-container">
    
        <!-- Gallery Slideshow of Property images -->
        {% include 'property/property_gallery.html' %}
    
        <!-- the status of the property-->
        <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted text-capitalize">{{ property.building_type }}</span>
            <span class="text-uppercase small">{{ property.is_sold|yesno:"SOLD,THIS PROPERTY HAS NOT BEEN SOLD" }}</span>
        </div>
    
        <!-- address and price of property -->
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{ property.street_name }} {{ property.house_nr }} ({{ property.city }}, {{ property.postal_code }})</h2>
            <h4 class="text-primary fw-bold">${{ property.price|floatformat:"0" }}</h4>
        </div>
    
        <!-- listing date of a property -->
        <h4 class="text small">Listing Date: {{ property.listing_date }}</h4>
    
        <!-- description of property -->
        <div class="mt-3">
            <p class="mb-3">{{ property.description }}</p>
        </div>
    
        <!-- Seller info, link/button to seller and SubmitOffer btn -->
        <div class="d-flex gap-3" id="seller-info-on-property-container">
            <div class="seller-profile-pic-container">
                <img id="seller-profile-pic-in-property" src="{{ property.seller.user.image.url }}" alt="seller-profile-thumbnail">
            </div>
                <a href="{% url 'seller-by-property' property.id %}" class="custom-offer-button">Seller: {{ property.seller.user.name }}</a>
                <a href="{% url 'submit-offer' %}" class="custom-offer-button">Submit an Offer</a>

        </div>
    
        <!-- the details of the property -->
        <div class="mt-4 row text-center">
            <div class="col">Built {{ property.year_built }}</div>
            <div class="col">{{ property.size }} m2</div>
            <div class="col">{{ property.bedrooms }} Bedroom(s)</div>
            <div class="col">{{ property.bathrooms }} Bathroom(s)</div>
            <div class="col">{{ property.toilets }} Toilet(s)</div>
        </div>
    </div>
{% endblock %}