
/* Navigation Bar styling*/
.navbar {
  background-color: #4D4C77 !important;
}

.navbar-brand,
.nav-link {
    margin: 0 15px;
    color: white !important;
    font-family: "Lucida Console", monospace;

}

/* Profile picture styling */
.profile-pic-container {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer styling */
div#footer-container {
    background-color: #4D4C77 !important;
}