/* Navigation Bar styling*/
.navbar {
    background-color: #4D4C77 !important;
}

.navbar-brand,
.nav-link {
    margin: 0 15px;
    color: white;
    font-family: "Lucida Console", monospace;
}
.nav-menu-link:hover {
    color: black;
    font-weight: 1000;
}

.profile-pic-in-navbar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer styling */
#footer-container {
    background-color: #4D4C77;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
}
a {
    color: white;
}

#app-logo {
    height: 3rem;
}

.footer-contact-info {
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
}



/* Purple Button Styling */
.custom-purple-button {
    background-color: #3b2e57;
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
}

.custom-purple-button:hover {
    background-color: #2b2043;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.custom-purple-button:hover a {
    text-decoration: none; /* links on btn are not underlined */
}