/* Navigation Bar styling*/
.navbar {
    background-color: #4D4C77 !important;
}

.navbar-brand,
.nav-link {
    margin: 0 15px;
    color: white;
    font-family: "Lucida Console", monospace;
}
.nav-menu-link:hover {
    color: black;
    font-weight: 1000;
}



/* Profile picture styling */
/*.profile-pic-container {*/
/*    border-radius: 50%;*/
/*    width: 4rem;*/
/*    height: 4rem;*/
/*    overflow: hidden;*/
/*}*/
/*.profile-pic-container:hover {*/
/*    opacity: 0.5;*/
/*}*/

/*#profile-pic-small {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/


.profile-pic-in-navbar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Footer styling */
#footer-container {
    background-color: #4D4C77;
    padding: 1rem;

    display: flex;
    justify-content: space-between;
}
a {
    color: white;
}

#app-logo {
    height: 3rem;
}

.footer-contact-info {
    display: flex;
    align-items: flex-end;
    font-size: 0.9rem;
}