/* pop up window */
.popup-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* <- DARK background */
    align-items: center;
    z-index: 3;
}
.pop-up-content {
    background: white;
    color: #2c3e50;
    padding: 20px;
    border-radius: 10px;
    min-width: 30rem;
    min-height: 15rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
}

/* sort and order by styling */
.sort-section-order {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1.875rem;
}

.sort-group-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-label-order {
  margin-bottom: 0.625rem;
  font-size: 1rem;
  color: #111;
}

.sort-buttons-order {
  display: flex;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}

.sort-btn-order {
  padding: 0.75rem 1.125rem;
  font-size: 1.375rem;
  border: none;
  background: #cfcfcf;
  color: black;
  cursor: pointer;
}

.sort-btn.active-order {
  background: #3b2e58;
  color: white;
}

.search-action-container {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.btn-order {
  padding: 0.75rem 2rem;     /* was 0.625rem 1.75rem */
  font-size: 1.125rem;       /* was 1rem */
  border: none;
  border-radius: 0.625rem;
  font-family: "Lucida Console", monospace;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.cancel-order {
  background-color: #7d6b89;
}

.confirm-order {
  background-color: #3b2e58;
}

.sort-btn-order:hover {
  background-color: #a0a0a0;
  color: white;
}

.cancel-order:hover {
  background-color: #66577a;
}

.confirm-order:hover {
  background-color: #2e2246;
}


.pop-up-content div{
    margin: 1rem;
}


 /* confirm and cancel button on filter-popup */
.filter-action {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.action-btn {
  padding: 0.75rem 2rem;     /* was 0.625rem 1.75rem */
  font-size: 1.125rem;       /* was 1rem */
  border: none;
  border-radius: 0.625rem;
  font-family: "Lucida Console", monospace;
  color: white;
  cursor: pointer;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
}

.cancel {
  background-color: #7d6b89;
}

.confirm {
  background-color: #3b2e58;
}

.cancel:hover {
  background-color: #66577a;
}

.confirm:hover {
  background-color: #2e2246;
}

