{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="auth-container" id="login-container">
    <h2>Login</h2>
    <form class="auth-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form }}
        
        <input type="submit" class="btn btn-primary" value="login"/>
        <p>
            <strong>New user?</strong>
            <a href="{% url 'register' %}" class="text-primary fw-bold">Create an account</a>
        </p>
    </form>
    <img class="background-pic" src="{% static 'images/startup_background.jpg' %}" alt="blurred houses">
</div>
{% endblock %}