{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="auth-container" id="signup-container">

    <form class="auth-form" method="post" action="{% url 'register' %}">
        <h2>Sign up</h2>
        {% csrf_token %}

        <!-- Username Field -->
        <div class="form-group mb-3">
            <label class="fw-bold" for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.username.errors.0 }}
                </div>
            {% endif %}
        </div>

        <!-- Password Field -->
        <div class="form-group mb-3">
            <label class="fw-bold" for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.password1.errors.0 }}
                </div>
            {% endif %}
        </div>

        <!-- Password Confirmation Field -->
        <div class="form-group mb-3">
            <label class="fw-bold" for="{{ form.password2.id_for_label }}">Password Confirmation:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="invalid-feedback d-block">
                    {{ form.password2.errors.0 }}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary" value="register">register</button>
    
        <!-- LOGIN BUTTON-->
        <p>
            <strong>Have an account?</strong>
            <a href="{% url 'login' %}" class="text-primary fw-bold">Login</a>
        </p>
    </form>
    <img class="background-pic" src="{% static 'images/startup_background.jpg' %}" alt="blurred houses as background">
</div>

{% endblock %}