{% load static %}
<div class="offer-card m-5">
    <div class="offer-left">
        <h3>{{ offer.property.street_name }} {{ offer.property.house_nr }}</h3>

        <!-- image section -->
        <div class="property-image-wrapper position-relative">

            <img class="img-fluid" src="{{ offer.property.preview_pic.url }}"
                alt="Preview picure of {{ property.street_name }} {{ property.house_nr }} in offers">

            <div class="badge-wrapper">
                <span class="badge bg-dark text-white">
                    {% if not offer.is_sold %}For Sale{% else %}Sold{% endif %}
                </span>
            </div>
        </div>

        <div class="status">
            <span class="status-dot {{ offer.state }}"></span>{{ offer.state }}
        </div>

        <p><strong>Buyer:</strong> {{ offer.buyer.name }}</p>
        <a href="{% url 'property-by-id' id=offer.property.id %}"
           class="btn btn-primary w-50">
            See More
        </a>

    </div>

    <div class="offer-right">
        <p><strong>offer amount:</strong> {{ offer.price }}$</p>
        <p><strong>Listing Date:</strong> {{ offer.creation_date }} - {{ offer.expiration_date }}</p>

        <!-- Seller can accept offer if it's pending (cannot modify an already accepted offer) -->
        {% if offer.state == 'pending' %}
        <div class="offer-action-container">
            <label for="offer-state-{{ offer.id }}" class="form-label">Confirm the purchase offer:</label>
            <select name="offer-state" class="form-select mb-2 offer-state-select"
                    id="offer-state-{{ offer.id }}"
                    data-offer-id="{{ offer.id }}">
                <option value="accept">Accept</option>
                <option value="contingent">Contingent</option>
            </select>

            <div id="contingent-reason-container-{{ offer.id }}" class="d-none mt-3">
                <label for="contingent-reason-{{ offer.id }}" class="form-label">Reason for contingency:</label>
                <textarea name="contingent-reason" id="contingent-reason-{{ offer.id }}"
                          class="form-control" rows="3"></textarea>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="{% static 'js/offer_status_contingent.js' %}"></script>
