{% load static %}
<div class="offer-card m-5">
    <div class="offer-left">
        <h3>{{ offer.property.street_name }} {{ offer.property.house_nr }}</h3>

        <!-- image section -->
        <div class="property-image-wrapper position-relative">

            <img class="img-fluid" src="{{ offer.property.preview_pic.url }}"
                 alt="Preview picture of {{ property.street_name }} {{ property.house_nr }} in offers">

            <div class="badge-wrapper">
                <span class="badge bg-dark text-white">
                    {% if offer.property.is_sold %}Sold{% else %}For Sale{% endif %}
                </span>
            </div>
        </div>

        <p><strong>Buyer:</strong> {{ offer.buyer.name }}</p>
        <a href="{% url 'property-by-id' id=offer.property.id %}"
           class="btn btn-primary w-50">
            See More
        </a>
    </div>

    <div class="offer-right mt-5">
        <p class="offer-listingprice-vs-offeramount">
            <strong>listing price:</strong> {{ offer.property.price }}$<br>
            <strong>offer amount:</strong> {{ offer.price }}$
        </p>        <p class="offer-dates">
        <strong>offer created:</strong> {{ offer.creation_date|date:"F jS, Y" }}<br>
        <strong>expiration date:</strong> {{ offer.expiration_date }}
    </p>

        {% include 'offer/_update_reason.html' %}
        {% include 'offer/received_offer/_update_offer.html' %}

    </div>
</div>
<script src="{% static 'js/offer_status_contingent.js' %}"></script>
