{% extends 'base.html' %}

{% block content %}
    <div class="mt-5 min-vh-100">
        <div class="ms-5 mb-4">
            <h2 class="fw-semibold">My Received Purchase Offers</h2>
            <p class="text-muted">These are offers from potential customers</p>
        </div>

        {% for offer in offers %}
            {% if offer.expiration_date > now %}
                {% include 'offer/received_offer/_single_offer.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
