<div class="popup-box" id="filter-popup">

    <div class="pop-up-content">

        <div class="filter-postal-code-container">
            <label for="postal-code">Postal Code</label>
            <select name="postal-code" id="postal-code">
            <option value="postal-code-all">All Postal Codes</option>
                {% for property in properties %}
                    <option value="postal-code-{{ property.postal_code }}">{{ property.postal_code }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-type-container">
            <label for="type">Type</label>
            <select name="type" id="type">
            <option value="type-all">All Types</option>
                {% for property in properties %}
                    <option value="type-{{ property.type }}">{{ property.type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="filter-price-range-container">
            <label class="form-label">Price Range ($)</label>

            <div class="row g-3">
                <div class="col-md-6">
                    <label for="minimum" class="form-label">Minimum</label>
                    <input
                        type="number"
                        id="minimum"
                        name="minimum"
                        class="form-control"
                        min="0"
                        max="100000000"
                        step="1000"
                        placeholder="0"
                    >
                </div>

                <div class="col-md-6">
                    <label for="maximum" class="form-label">Maximum</label>
                    <input
                        type="number"
                        id="maximum"
                        name="maximum"
                        class="form-control"
                        min="0"
                        max="100000000"
                        step="1000"
                        placeholder="100000000"
                    >
                </div>
            </div>
        </div>

    <div class="filter-availability-container">
        <label>Availability</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="for-sale" name="availability" value="for-sale" checked>
            <label class="form-check-label" for="for-sale">For Sale</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="is-sold" name="availability" value="is-sold">
            <label class="form-check-label" for="is-sold">Sold</label>
        </div>
    </div>

    <div class="btn-action-container">
        <button class="action-btn cancel" id="filter-cancel-btn" onclick="hidePopupWindows()">Cancel</button>
        <button class="action-btn confirm" onclick="filter()">Confirm</button>
    </div>
    </div>
</div>