<div class="popup-box" id="order-by-popup">
  <div class="pop-up-content">
    <div class="sort-section-order">

      <!-- Price Range -->
      <div class="sort-group-order">
        <label class="sort-label-order">Price Range</label>
        <div class="sort-buttons-order">
          <button class="sort-btn-order active-order" disabled>$</button>
          <button class="sort-btn-order sorting-price">↓</button>
        </div>
      </div>

      <!-- Name -->
      <div class="sort-group-order">
        <label class="sort-label-order">Name</label>
        <div class="sort-buttons-order">
          <button class="sort-btn-order active-order" disabled>🛣️</button>
          <button class="sort-btn-order sorting-name">↓</button>
        </div>
      </div>

    </div>

    <div class="btn-action-container">
      <button class="action-btn cancel" id="sort-cancel-btn" onclick="hidePopupWindows()">Cancel</button>
      <button class="action-btn confirm" onclick="sort()">Confirm</button>
    </div>
  </div>
</div>
