{% extends 'base.html' %}

{% block content %}
<h1>finalize offer</h1>
<p>contact information</p>

    <div class="editable" contenteditable="true" data-placeholder="Street Name"></div>
    <div class="editable" contenteditable="true" data-placeholder="City"></div>
    <div class="editable" contenteditable="true" data-placeholder="Postal Code"></div>
    <div class="editable" contenteditable="true" data-placeholder="Country"></div>

<p>payment step</p>
    <div class="editable" contenteditable="true" data-placeholder="Select payment method"></div>

    <div class="editable" contenteditable="true" data-placeholder="National id"></div>
{% endblock %}


