{% extends 'base.html' %}

{% block content %}
    <div class="mb-6 min-vh-100">
        <div class="offer-title-group ms-5 mt-5">
            <h2 class="h3 fw-semibold mb-1">Your Submitted Offers</h2>
            <p class="text-muted mb-3">A list of the purchase offers you’ve made.</p>
        </div>

        {% for offer in offers %}
            {% if offer.expiration_date > now %}
                {% include 'offer/submitted_offer/_single_offer.html' %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
