#create-property-container {
    margin: 0 11rem 0; /* top right-left bottom */
}
.add-image-container input {
    margin: 0.6rem 0 1.5rem; /* top right-left bottom */
}


/* Gallery Image Upload */
.file-upload-label {
    padding: 2rem;
    border: 2px dashed #ccc;
    text-align: center;
    cursor: pointer;
}

.file-upload-label input { display: none; } /* basic choose-file box is hidden */

/* THE preview images of gallery */
.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    background: #f9f9f9;
    border-radius: 5px;
    min-height: 100px;
}

.preview-image {
    width: 8rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 4px;
    margin: 5px;
    border: 1px solid #ddd;
    transition: transform 0.2s;
}
.preview-image:hover {
    transform: scale(1.05);
}
