/* Property HomePage Styling */
.form-field {
    margin-bottom: 1rem;
    position: relative;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
    font-size: 1rem;
}

.form-field input:focus,
.form-field textarea:focus {
    border-color: #6a1b9a; /* purple focus */
    outline: none;
}

.form-field label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
}

.form-field select, .form-field input {
    background-color: white;
}

.btn-confirm {
    background-color: #3b2e58;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-confirm:hover {
    background-color: #5e3b8a;
}


#see-more-btn, .btn-sm {
    background-color: #372549;
    width: 130px;
}
#see-more-btn:hover, .btn-sm:hover {
    opacity: 0.5;
}
.card-body a {
    font-size: 13px;
}

#link-to-seller-btn {
    background-color: #3b2e58;
    color: white;
    border: none;
}
#link-to-seller-btn:hover {
    background-color: #5e3b8a;
}


/* SELLER info on property details page*/
#seller-profile-pic-in-property {
    width: 5rem;
    height: 5rem;
    object-fit: cover;

    border-radius: 50%;
}
.d-flex {
    display: flex;
    align-items: center
}

#property-details-container {
    width: 80%;
}



/* The preview picture on each Property homepage */
.property-card {
    height: 100%;
}

.property-card-img-container {
    height: 200px;
    position: relative;
    overflow: hidden;
}

.property-card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.property-badge {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: 1;
}

.property-card-body {
    display: flex;
    flex-direction: column;
    height: calc(100% - 200px); /* Subtract image height */
    align-items: center;
}

.property-card-btn {
    margin-top: auto;
}