<div id="preview-purchase" class="preview-purchase-info-container d-none mt-4 p-4 border rounded">

    <h2>Review Step</h2>
    <p class="mb-3">Please review your information before submitting</p>

    <h5>Personal Info</h5>
    <div class="personal-info-container ml-5"></div>

    <h5>Payment Info</h5>
    <div class="payment-info-container ml-5"></div>

    <div class="d-flex justify-content-end">
        <button id="back-to-form-btn" type="button" class="btn btn-danger w-25 py-3 m-3">cancel</button>
        <button id="confirm-payment-btn" type="submit" class="btn btn-primary w-25 py-3 m-3">submit payment</button>
    </div>
</div>
